<%= render "shared/navbar" %>

<% if flash[:notice] %>
  <div class="alert alert-success"><%= flash[:notice] %></div>
<% end%>

<h1>Dashboard</h1>
<p>Welcome, <%= @current_user.name %>.</p>

<% if @current_user.financial_accounts.count == 0 %>
  <p>No accounts linked yet.</p>
<% else %>
  <% @current_user.financial_accounts.each do |account| %>
    <article class="account-card">
      <div>
        <strong><%= account.institution_name %> (<%= account.last4 %>):</strong>
        <%= number_to_currency(account.get_balance_in_dollars) %>
      </div>
      <%= account.subcategory.capitalize %> account
      <hr />
      <%= link_to "Account details", financial_account_path(account) %>
    </article>
  <% end %>
<% end %>


<button type="button">Link bank accounts</button>
<script>
  const button = document.querySelector("button");
  const linkAccountsUrl = "<%= link_accounts_path %>";
  const csrfToken = document.head.querySelector("meta[name=csrf-token]")?.content;

  button.addEventListener("click", linkBankAccounts);

  function linkBankAccounts() {
    fetch(linkAccountsUrl, {
      method: "POST",
      headers: {
        "Accept": "application/json",
        "X-CSRF-Token": csrfToken,
      }
    })
    .then((response) => response.json())
    .then((data) => {
      stripe.collectFinancialConnectionsAccounts({
        clientSecret: data.client_secret,
      })
      .then((result) => {
        if (result.error) {
          // Inform the customer that there was an error.
          console.log(result.error.message);

        // Handle next step based on length of accounts array
        } else if (result.financialConnectionsSession.accounts.length === 0) {
          console.log('No accounts were linked');
        } else {
          console.log(result.financialConnectionsSession.accounts)
        }
      });
    });
  }
</script>
