<h1>Account details</h1>

<article class="account-card">
  <div>
    <strong><%= @account.institution_name %> (<%= @account.last4 %>): </strong>
    $<%= @account.get_balance_in_dollars %>
  </div>
  <%= @account.subcategory.humanize %> account
  <hr />
  <% if @transactions.count == 0 %>
    <p>No transactions found.</p>
  <% else %>
    <p><strong>Transactions:</strong></p>
    <input type="search" placeholder="filter transactions" />
    <table>
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Description</th>
          <th scope="col">Amount</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <% @transactions.each do |t| %>
          <tr>
            <th scope="row"><%= t.format_transacted_at %></th>
            <td class="description"><%= t.description %></td>
            <td><%= number_to_currency(t.get_amount_in_dollars) %></td>
            <td><%= t.status %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</article>

<script>
  const searchBar = document.querySelector('input[type="search"]');
  searchBar.addEventListener("input", (event) => {
    const query = event.target.value;
    document.querySelectorAll("td.description").forEach((elem) => {
      const text = elem.innerText.toLowerCase();
      if (text.includes(query)) {
        elem.parentElement.removeAttribute("hidden");
      } else {
        elem.parentElement.setAttribute("hidden", "");
      }
    });
  });
</script>
