<h1>Account details</h1>

<article class="account-card">
  <div>
    <strong><%= @account.institution_name %> (<%= @account.last4 %>): </strong>
    $<%= @account.get_balance_in_dollars %>
  </div>
  <%= @account.subcategory.humanize %> account
  <hr />
  <% if @account.transactions.count == 0 %>
    <p>No transactions found.</p>
  <% else %>
    <p><strong>Transactions:</strong></p>
    <ul>
      <% @account.transactions.each do |t| %>
        <li>
          (<%= t.format_transacted_at %>) <%= t.description %> (<%= t.status %>):
          <%= number_to_currency(t.get_amount_in_dollars) %>
        </li>
      <% end %>
    </ul>
  <% end %>
</article>
